@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&display=swap');

*{
    font-family: 'Geologica', sans-serif;
}
.head{
    background-color: #068DA9;
    display: flex;
}
.head img{
    width: 150px;
    height: 150px;
}
.head h1{
    margin-left: 70px;
    margin-top: 10px;
}
.user{
    padding-top: 100px;
    margin-left: 200px;
}
.user label{
    margin-left: 150px;
}
.user input{
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    background-color: #C2DEDC;
    border-style: none;
}
.card1{
    display: inline-flex;
    /* display: flex;
    flex-wrap: wrap; */
}
.card{
    border: 2px solid black;
    border-radius: 10px;
    max-width: fit-content;
    padding: 30px;
    margin-left: 135px;
    margin-top: 50px;
}
.card img{
    border-radius: 10px;
}
.card input[type=number]{
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    background-color: #C2DEDC;
    border-style: none;
}
.card input[type=text]{
    display: none;
}
/* .cart{
    text-decoration: none;
    margin-left: 145px;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(37, 116, 37);
    color: white;
}
.cart:hover{
    background-color: #025464;
}
.cart button{
    padding: 10px;
    background-color: rgb(37, 116, 37);
    color: white;
    border-style: none;
}*/
.card button:hover{
    background-color: #025464;
} 
.card button{
    color: white;
    padding: 10px;
    margin-left: 145px;
    border-style: none;
    background-color: rgb(37, 116, 37);
    border-radius: 10px;
}
/* .cart{
    color: white;
    text-decoration: none;
} */
.buy{
    text-decoration: none;
    color: black;
    padding: 15px;
    background-color: cadetblue;
    border-style: none;
    border-radius: 10px;
    margin-left: 720px;
    width: 120px;
}
.buy:hover{
    border-radius: 20px;
    background-color: #40128B;
    color: white;
}

footer{
    width: 100%;
    background-color: #545B77;
    padding: 50px;
}
.social{
    margin-left: 450px;
}
.social i{
    color: black;
    margin-left: 60px;
}
.detail{
    margin-left: 50px;
    padding: 30px;
}
.map{
    margin-top: -170px;
    margin-left: 1000px;
}